<h2>Team</h2>

  <ul class="team-wrapper">
    {% for member in site.members %}
      <li class="{{ member.short_name }}">
        {% if member.headshot %}
        <img src="{{ member.headshot | prepend: site.image_serve_path }}" alt="Headshot of {{ member.full_name }}">
        {% else %}
          <img src="https://place-hold.it/200x200?text=Headshot" alt="Headshot">
        {% endif %}

        <h3>{{ member.full_name }}</h3>
        <p>{{ member.hometown }}</p>
        <p>{{ member.birth_year }}</p>
      </li>
    {% endfor %}
  </ul>
