// Modular scale
// ---------------------------------------

// Setting responsive modular-scales. Use appropriate scales for viewport sizes.
$modular-scale: (
  // Major Third http://www.modularscale.com/?16,28&px&1.25&web&text
  scale-0: (
    alpha:   48.83,
    beta:    39.06,
    gamma:   31.25,
    delta:   25.0,
    epsilon: 20.0,
    zeta:    16.0,
    eta:     14.3,
    theta:   12.8,
    iota:    11.5
  ),
  // Major Third http://www.modularscale.com/?17,30&px&1.25&web&text
  scale-1: (
    alpha:   48.83,
    beta:    39.06,
    gamma:   31.25,
    delta:   25.0,
    epsilon: 20.0,
    zeta:    16.0,
    eta:     14.3,
    theta:   12.8,
    iota:    11.5
  ),
  // Major Third http://www.modularscale.com/?18,32&px&1.25&web&text
  scale-2: (
    alpha:   48.83,
    beta:    39.06,
    gamma:   31.25,
    delta:   25.0,
    epsilon: 20.0,
    zeta:    16.0,
    eta:     14.3,
    theta:   12.8,
    iota:    11.5
  ),
  // Perfect Fourth http://www.modularscale.com/?20,40&px&1.333&web&text
  scale-3: (
    alpha:   48.83,
    beta:    39.06,
    gamma:   31.25,
    delta:   25.0,
    epsilon: 20.0,
    zeta:    16.0,
    eta:     14.3,
    theta:   12.8,
    iota:    11.5
  ),
  // Aug. Fourth http://www.modularscale.com/?22,50&px&1.414&web&text
  scale-4: (
    alpha:   48.83,
    beta:    39.06,
    gamma:   31.25,
    delta:   25.0,
    epsilon: 20.0,
    zeta:    16.0,
    eta:     14.3,
    theta:   12.8,
    iota:    11.5
  )
);
